body {
   font-family: sans-serif;
   color: #12122a;
}

.header {
   display: flex;
   padding: 10px 24px;
   align-items: center;
   gap: 24px;
   padding-bottom: 30px;

   position: sticky;
   top: 0px;

   background-color: #f8ffbc;
}

.logo {
   flex-grow: 1;
   font-size: 2em;
   color: #500000;
   font-weight: 600;
}

.menu {
   display: flex;
   gap: 2.5em;
   flex-grow: 1;
}

.menu__link {
   font-size: 1.1em;
   color: #500000;
   position: relative;

   z-index: 23;
   padding-bottom: 5px;
}

/* ::before */
/* .menu__link::after {
   content: "";
   background-color: #500000;
   /* height: 3px; */

/* position: absolute;
inset: 0;
transition: all 0.5s;
} */

.menu__link:hover {
   color: blueviolet;
}

.started {
   border-radius: 16px;
   border: 2px solid #500000;
   padding: 8px 25px;
   background-color: #a8d741;
}

.intro-section {
   padding: 0 24px;
}

.intro-section__wrapper {
   border-radius: 12px;
   margin: 0 auto;
   background-color: #a8d741;
   text-align: center;
   padding: 70px 0;
}

.subtitle {
   font-size: 1.4em;
   padding-bottom: 1em;
   font-weight: 500;
}

.title {
   font-weight: 500;
   font-size: 3em;
   padding-bottom: 0.5em;
}

.intro-started {
   background-color: #232323;
   border: 1px solid #fff;
   color: #fff;
   padding: 12px 24px;
   border-radius: 36px;
   font-weight: 600;
   display: inline-block;
   margin-bottom: 30px;
}

.marked {
   text-decoration: none;
   font-weight: 600;
   text-decoration: underline solid rgb(0, 0, 0);
   padding-bottom: 1em;
}

.card-products {
   width: 100%;
   padding: 100px;
}

.title {}

.card-products .wrapper {
   padding: 24px;
   background-color: #a8d741;
   display: flex;
   border-radius: 36px;
   flex-direction: row;
   gap: 20px;
   justify-content: space-around;
}

.wrapper-image {
   height: 220px;
   object-fit: cover;
   border-top-left-radius: 20px;
   border-top-right-radius: 20px;
}

.wrapper-item {
   display: flex;
   flex-direction: column;
   gap: 20px;
   background-color: #fff;
   border-radius: 16px;
}

.item-discription {
   padding: 0 1.5em 20px;
}

.item-discription h4 {
   padding-bottom: 10px;
}

.item-discription p {
   padding-bottom: 10px;
}

.wrapper-item_link {
   text-decoration: underline;
   color: rgb(0, 0, 0);
}

.intro .intro_wrapper {

   max-width:min( 500px,60%) ;
   margin:0 auto;
   text-align: center;
   

}

.intro .intro_title {
   font-size: 2.5em;
   font-weight: 500;
   padding-bottom: 1em;
}

.intro .intro-description {
   font-family: cursive ;
}





.intro{
   padding-bottom: 80px;
}